---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Anton Malienko - Search Engine Optimization Consultant">
  <div class="container">
    <p><strong>Anton Malienko</strong> is an Enterprise SEO Consultant based in Montreal, Canada.</p>

    <h2>Technical and Ecommerce SEO</h2>
    <ul>
      <li>SEO consultant with 11+ years of technical and ecommerce SEO</li>
      <li>50+ B2C and B2B enterprise-level clients and large-scale websites</li>
      <li>Independently grew affiliate site to $1M+ in assisted sales in 3 years</li>
      <li>Helps businesses scale through strategy, automation and AI</li>
      <li><a href="/publications">Ex-research scientist with several publications</a></li>
      <li>Get in touch at <a href="mailto:antonmalienko@gmail.com">antonmalienko@gmail.com</a> ✉️</li>
    </ul>

    <h2>Industry Experience</h2>
    <ul>
      <li>Healthcare, Pharmaceutical, Nutritional Science & Natural Products</li>
      <li>Industrial, Automotive, Manufacturing & Aftermarket</li>
      <li>Alcohol, Cannabis & Tobacco Products (Governmental & Private)</li>
      <li>Education, Publishers & Research Universities</li>
      <li>Luxury, Fashion, Home Decor & Outdoor Equipment</li>
    </ul>

    <h2>Get In Touch!</h2>
    <p>I'm always open and happy to meet interesting people. I'm <strong>based in Montreal, Canada</strong>, don't hesitate to message me for a coffee and a chat if you're around!</p>
    <ul>
      <li><strong>Email</strong> me at <a href="mailto:antonmalienko@gmail.com">antonmalienko@gmail.com</a></li>
      <li>Connect with me through my <strong><a href="https://www.linkedin.com/in/anton-malienko/" target="_blank" rel="noopener noreferrer">LinkedIn</a></strong> profile</li>
    </ul>
  </div>
</Layout>
